<div class="notifications">
  <h2 class="head">Friend Requests</h2>
  <div class="out_box mat-elevation-z1" *ngIf="data.length">

    <div class="box mat-elevation-z1" *ngFor="let i of data">
      <div class="content">
        <img class="pic" [src]="i.image" alt="">
        <div class="detail">
          <h2>{{i.username}}</h2>
          <h4 style="margin-top: -10px;">{{i.bio ? i.bio : 'new to instagram'}}</h4>
          <button class="frnd_req" style="margin-top: -10px;"(click)="accept(i,$event)">Accept</button>
        </div>

      </div>

      <br>

    </div>
  </div>
  <div *ngIf="!data.length">
    <h2 style="font-family: 'Times New Roman', Times, serif;">- - No Notifications/Friend Requests - -</h2>
  </div>
</div>


