.profile{
  position: absolute;
  top: 0px;
  width: auto;
  left: 150px;
  display: flex;
  flex-direction: column;

  padding-top: 50px;
}
.layout{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  margin-left: 55%;
  justify-content: center;
  align-items: center;

}
.pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1%;
}
.txt{
  padding: 10px;
  border: none;
  width: 95%;
  background-color: #F8F8F8;
  border-radius: 5px;
}
.field{
  width: 450px;
  border: none;
}
.btn{
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5%;

}
.btn:hover{
  box-shadow: 1px 1px 1px 1px grey;
}
@media screen and (max-width: 650px){
  .profile{
    top: 120px;
    left: 0px;
    padding-left: 40px;
  }
  .layout{
    margin-left: 0%;
    margin-bottom: 30px;
  }
}
